@use "./base.scss";

// put your custom CSS here!

.table-container table thead tr th {
    font-weight: normal;
    border-bottom: none !important;
} 
/*
.table-container {
    font-weight: normal;
} */
svg width {
    height: auto !important;
}
